<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SAWSessionService" />
                <binding name="XmlViewService" />
                <binding name="HtmlViewService" />
                <binding name="WebCatalogService" />
                <binding name="ReportEditingService" />
                <binding name="JobManagementService" />
                <binding name="ReplicationService" />
                <binding name="SecurityService" />
                <binding name="MetadataService" />
                <binding name="IBotService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://obiee.banrep.gov.co/analytics/saw.dll?SoapImpl=nQSessionService"
                binding="basicHttpBinding" bindingConfiguration="SAWSessionService"
                contract="WSTRM.SAWSessionServiceSoap" name="SAWSessionServiceSoap" />
            <endpoint address="http://obiee.banrep.gov.co/analytics/saw.dll?SoapImpl=xmlViewService"
                binding="basicHttpBinding" bindingConfiguration="XmlViewService"
                contract="WSTRM.XmlViewServiceSoap" name="XmlViewServiceSoap" />
            <endpoint address="http://obiee.banrep.gov.co/analytics/saw.dll?SoapImpl=htmlViewService"
                binding="basicHttpBinding" bindingConfiguration="HtmlViewService"
                contract="WSTRM.HtmlViewServiceSoap" name="HtmlViewService" />
            <endpoint address="http://obiee.banrep.gov.co/analytics/saw.dll?SoapImpl=webCatalogService"
                binding="basicHttpBinding" bindingConfiguration="WebCatalogService"
                contract="WSTRM.WebCatalogServiceSoap" name="WebCatalogServiceSoap" />
            <endpoint address="http://obiee.banrep.gov.co/analytics/saw.dll?SoapImpl=reportService"
                binding="basicHttpBinding" bindingConfiguration="ReportEditingService"
                contract="WSTRM.ReportEditingServiceSoap" name="ReportEditingServiceSoap" />
            <endpoint address="http://obiee.banrep.gov.co/analytics/saw.dll?SoapImpl=jobManagementService"
                binding="basicHttpBinding" bindingConfiguration="JobManagementService"
                contract="WSTRM.JobManagementServiceSoap" name="JobManagementServiceSoap" />
            <endpoint address="http://obiee.banrep.gov.co/analytics/saw.dll?SoapImpl=replicationService"
                binding="basicHttpBinding" bindingConfiguration="ReplicationService"
                contract="WSTRM.ReplicationServiceSoap" name="ReplicationServiceSoap" />
            <endpoint address="http://obiee.banrep.gov.co/analytics/saw.dll?SoapImpl=securityService"
                binding="basicHttpBinding" bindingConfiguration="SecurityService"
                contract="WSTRM.SecurityServiceSoap" name="SecurityServiceSoap" />
            <endpoint address="http://obiee.banrep.gov.co/analytics/saw.dll?SoapImpl=metadataService"
                binding="basicHttpBinding" bindingConfiguration="MetadataService"
                contract="WSTRM.MetadataServiceSoap" name="MetadataServiceSoap" />
            <endpoint address="http://obiee.banrep.gov.co/analytics/saw.dll?SoapImpl=ibotService"
                binding="basicHttpBinding" bindingConfiguration="IBotService"
                contract="WSTRM.IBotServiceSoap" name="IBotServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>